/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@300;500;600;700&display=swap');
/* Global CSS */

:root {
  --main-color: #7857fe;
  --color-1: #e27883;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --color-4: #09d69c;
  --color-5: #6fbfd8;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --shadow-black-700: 0 5px 15px rgba(0, 0, 0, 0.7);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body,
* {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Dela Gothic One', cursive; */
  font-size: 16px;
  font-weight: 400;
  /* background-color: #fff; */
}

* {
  margin: 0;
  padding: 0;
  outline: none imp !important;
}

/* //////////////////// */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Dela Gothic One', cursive; */
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 !important;
}

@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Login */

.login-max-container {
  background-color: unset;
  background-image: url('../img/loginscreen/bg-image-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cont-form-login {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.45);
  max-width: 520px;
  padding: 2rem 4rem;
  margin: auto auto;
  max-height: 490px;
}

.cont-form-login h5 {
  color: #fff;
}

.cont-form-login form {
  margin-top: 2rem;
}

/* Registro */

.cont-form-register {
  /* box-shadow: var(--shadow-black-700); */
  padding: 1rem 3rem;
  background-color: rgba(0, 0, 0, 0.45);
}

.cont-form-register h5 {
  color: #fff;
}

/* Password */

.password-class {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.label-password {
  flex: 1 0 20%;
  font-weight: 700;
  margin-right: 10px;
  color: #fff;
}

.input-password {
  flex: 1 0 70%;
  position: relative;
}

.input-password input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.button-password {
  position: absolute;
  right: 0;
  top: 0.09rem;
  padding: 11px 20px;
  margin: 8px 0;
  border: none;
}

.items-form {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.label-email {
  flex: 1 0 20%;
  font-weight: 700;
  margin-right: 10px;
  color: #fff;
}

.input-email {
  flex: 1 0 70%;
}

.input-email input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9rem;
}

/* recovery */

.recuperacion-password {
  margin-top: 1rem;
}

.recuperacion-password p {
  flex: 1 0 40%;
  /* margin: 20px; */
  border: none;
  color: var(--black-400);
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.recuperacion-password a {
  text-decoration: none;
  cursor: pointer;
}

.recuperacion-password a:hover {
  text-decoration: none !important;
}

.button-primary {
  /* width: 100%; */
  margin: 0 auto;
  display: block;
  /* flex: 1; */
  flex: 1 0 40%;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 1rem 1rem;
  max-height: 70px;
}

.button-secondary {
  width: 100%;
  /* flex: 1; */
  text-decoration: none;
  color: inherit;
  flex: 1 0 40%;
  background-color: var(--color-3);
  border: none;
  border-radius: 5px;
  padding: 1rem 0;
}

.button-info {
  width: 80%;
  background-color: var(--color-5);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.3rem;
}

.button-danger {
  background-color: var(--color-1);
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.3rem;
}

.recovery-container {
  background-color: rgba(0, 0, 0, 0.75);
  min-width: 50%;
  padding: 2rem 4rem;
  margin: 1rem auto 4rem auto;
  margin-top: 5rem;
}

.recovery-container h5 {
  color: #fff;
}

.recovery-container p {
  padding: 2rem 0 0 0;
  background-color: transparent;
  border: none;
  color: #75797c;
  cursor: pointer;
}

.recovery-container form {
  margin-top: 2rem;
}

.buton-recovery {
  background-color: #eb5c68;
  border: none;
  border-radius: 5px;
}

/* Registro */

.go-registro {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.go-registro p {
  color: var(--black-400);
  font-size: 1rem;
  margin-right: 1rem !important;
}

.go-registro a {
  text-align: center;
}

.go-registro a:hover {
  text-decoration: none;
  color: inherit;
}

/* back-principal */

.back-principal {
  background-color: var(--main-color);
  /* height: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.back-principal .title {
  margin-bottom: 3rem;
  color: #fff;
}

.back-principal .image-mascota {
  margin-top: 3rem;
  text-align: center;
}

.back-principal .image-mascota img {
  width: 70%;
  margin: 0 auto;
  animation: bounceTop_01 3s ease infinite;
}
@media only screen and (max-width: 768px) {
  .back-principal .image-mascota img {
    width: 150px;
  }

  .back-principal .title {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .back-principal .title h1 {
    font-size: 1.5rem;
  }
}
.back-principal i {
  font-size: 4rem;
  color: var(--color-4);
  cursor: pointer;
  margin-top: 3rem;
}

/* Nabvar */
.navbar-max-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-dark);
  box-shadow: var(--shadow-black-300);
  padding: 1rem 2rem;
  color: #fff;
  position: sticky;
}

.welcome-name span {
  color: var(--main-color);
}

/* video Screen */

.video-screen-container {
  background-color: black;
}

.video-screen-container video {
  width: 100vw !important;
  height: 100vh !important;
}

/* Modal */

.customOverlay {
  background: rgba(0, 0, 0, 0.9);
}

.customModal {
  background: #ffffff;
  /* min-width: 100%; */
  /* width: 100%; */
  /* width: 100%; */
  height: a;
  border-radius: 10px;
  padding: 1rem;
}
@media only screen and (max-width: 768px) {
  .customModal {
    margin-top: 4rem;
  }
}

/* Etapa1  */
.etapa-identificacion {
  background-color: var(--main-to-dark-color);
  height: 100vh;
  color: #fff;
}

.etapa-identificacion .factores {
  margin-top: 2rem;
}

.etapa-identificacion .title {
  padding: 4rem 0;
}

.etapa-identificacion p {
  margin-top: 2rem;
}

.interaction-etapa {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.interaction-etapa .image-mascota {
  text-align: center;
}
.interaction-etapa img {
  width: 70%;
  margin: 0 auto;
}

.interaction-etapa .area-buttons {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* align-content: space-between; */
  align-items: center;
}
.area-buttons button {
  margin-bottom: 0.4rem;
}
.tool-tip ul {
  margin: 0;
  padding: 0;
  display: flex;
}

/* Tool tip2 */
.area-buttons .button-focus-tool-tip:focus {
  background-color: var(--color-2);
}

.area-buttons .content-show {
  position: absolute;
  bottom: 55px;
  left: 204px;
  width: 400px;
  background-color: #fff;
  padding: 20px;
  color: #000;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .area-buttons .content-show {
    left: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.button-focus-tool-tip {
  position: relative;
}
.button-focus-tool-tip:hover .content-show {
  opacity: 1;
  visibility: visible;
}

.intro2-container .image-mascota {
  width: 50%;
  text-align: center;
  margin: 1rem auto;
}

.intro2-container p {
  margin-top: 3rem;
  color: #fff !important;
  font-size: 1.2rem;
}

.icons-intro {
  text-align: center;
}

/* etapa-identificacion01 */
.etapa-identificacion01 .factores ol {
  margin: 1rem;
}

/* modal-etapaident */
.modal-etapaident .button-next {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-next button {
  width: auto;
  max-width: 150px;
}

.button-next img {
  width: 50%;
}
